.card
  position: relative
  cursor: pointer
  &-wrapper
    display: flex
    flex-direction: column
    align-items: center
  &-name, &-value
    font-size: 18px
    margin: 10px 0px 0px
  &-value
    display: flex
    align-items: center
  &-icon
    width: 100px
    height: 100px
    overflow: hidden
    border-radius: 50%
    background-color: #000
    display: flex
    justify-content: center
    align-items: center
  &_dragging
    opacity: 0.4
  &_canDrop
    opacity: 1
  &_canNotDrop
    opacity: 0.4